## String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
s=input("enter a string : ")
rev_s=s[::-1]
print(f"reverse of {s} is {rev_s}")

enter a string : python
reverse of python is nohtyp

2. Check if a string is a palindrome.

In [ ]:
s=input("enter a string : ")
rev_s=s[::-1]
if s==rev_s:
    print(f"{s} is palindrome")
else:
    print(f"{s} is  not palindrome")

enter a string : madam
madam is palindrome

3. Convert a string to uppercase.

In [ ]:
s=input("enter a string : ")
upper_s=s.upper()
print(upper_s)

enter a string : python
PYTHON

4. Convert a string to lowercase.

In [ ]:
s=input("enter a string : ")
lower_s=s.lower()
print(lower_s)

enter a string : Python
python

5. Count the number of vowels in a string.

In [ ]:
s=input("enter a string : ")
count=0
for ch in s:
    if ch in 'aeiouAEIOU':
        count+=1
print(f"number of vowels in {s} is {count}")

enter a string : Good Morning
number of vowels in Good Morning is 4

6. Count the number of consonants in a string.

In [ ]:
s=input("enter a string : ")
count=0
for ch in s:
    if ch not in 'aeiouAEIOU':
        count+=1
print(f"number of consonants in {s} is {count}")

enter a string : Good Morning
number of consonants in Good Morning is 8

7. Remove all whitespaces from a string.

In [ ]:
s=input("enter a string : ")
new_s=""
for word in s.split():
    new_s+=word
print(new_s)

enter a string : hi Good Morning
hiGoodMorning

8. Find the length of a string without using the `len()` function.

In [ ]:
s=input("enter a string : ")
length=0
for ch in s:
    length+=1
print(f"length of {s} is {length}")

enter a string : Good Morning
length of Good Morning is 12

9. Check if a string contains a specific word.

In [ ]:
s=input("enter a string : ")
word=input("enter a word : ")
if word in s.split():
    print(f"word '{word}'' is in '{s}''")
else:
    print(f"word '{word}' is not in '{s}'")

enter a string : I am going to market
enter a word : to
word 'to'' is in 'I am going to market''

10. Replace a word in a string with another word.

In [ ]:
s=input("enter a string : ")
old_word=input("enter an old word  to replace: ")
if old_word in s.split():
    new_word=input(f"enter a new  word  to replace with {old_word}: ")
    new_s=s.replace(old_word,new_word)
    print(f"the new string is '{new_s}'")
else:
    print(f"word '{old_word}' is not found")

enter a string : good night
enter an old word  to replace: night
enter a new  word  to replace with night: morning
the new string is 'good morning'

11. Count the occurrences of a word in a string.

In [ ]:
s=input("enter a string : ")
word=input("enter a word : ")
count = s.lower().count(word.lower())
print(f"word '{word}' occured {count} times")

enter a string : I am going to market also to college
enter a word : to
word 'to' occured 2 times

12. Find the first occurrence of a word in a string.

In [ ]:
s=input("enter a string : ")
word=input("enter a word : ")
first_occr = s.lower().find(word.lower())
if first_occr!=-1:
    print(f"word '{word}' occured  first time at index {first_occr}")
else:
    print(f"word '{word}'  is not occured.")

enter a string : I am going to market also to college
enter a word : to
word 'to' occured  first time at index 11

13. Find the last occurrence of a word in a string.

In [ ]:
s=input("enter a string : ")
word=input("enter a word : ")
last_occr = s.lower().rfind(word.lower())
if last_occr!=-1:
    print(f"word '{word}' occured  last time at index {last_occr}")
else:
    print(f"word '{word}'  is not occured.")

enter a string : I am going to market also to college
enter a word : to
word 'to' occured  last time at index 26

14. Split a string into a list of words.

In [ ]:
s=input("enter a string : ")
list_of_word=s.split()
print(f"list of words : {list_of_word}")

enter a string : Today is sunday
list of words : ['Today', 'is', 'sunday']

15. Join a list of words into a string.

In [ ]:
s=input("enter a string : ")
list_of_word=s.split()
joined_s=" ".join(list_of_word)
print(joined_s)

enter a string : Today is sunday
Today is sunday

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
s=input("enter a string : ")
list_of_word=s.split()
joined_s="_".join(list_of_word)
print(joined_s)

enter a string : today is sunday
today_is_sunday

17. Check if a string starts with a specific word or phrase.

In [ ]:
s=input("enter a string : ")
word=input("enter a word : ")
starts_with = s.lower().startswith(word.lower())
if starts_with!=-1:
    print(f"the string starts with the word '{word}'")
else:
    print(f"the string not starts with the word '{word}'")

enter a string : today is sunday
enter a word : Today
the string starts with the word 'Today'

18. Check if a string ends with a specific word or phrase.

In [ ]:
s=input("enter a string : ")
word=input("enter a word : ")
ends_with = s.lower().endswith(word.lower())
if ends_with!=-1:
    print(f"the string ends with the word '{word}'")
else:
    print(f"the string not ends with the word '{word}'")

enter a string : today is sunday
enter a word : Sunday
the string ends with the word 'Sunday'

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
s=input("enter a string : ")
s_new=s.title()
print(s_new)

enter a string : good morning
Good Morning

20. Find the longest word in a string.

In [ ]:
s=input("enter a string : ")
longest_word=max(s.split())
print(f"longest word is '{longest_word}'")

enter a string : good morning
longest word is 'morning'

21. Find the shortest word in a string.

In [ ]:
s=input("enter a string : ")
shortest_word=min(s.split())
print(f"shortest word is '{shortest_word}'")

enter a string : good night
shortest word is 'good'

22. Reverse the order of words in a string.

In [ ]:
s=input("enter a string : ")
reverse_of_words=s.split()[::-1]
print(f"reverse of words : '{reverse_of_words}'")

enter a string : I am going to mall
reverse of words : '['mall', 'to', 'going', 'am', 'I']'

23. Check if a string is alphanumeric.

In [ ]:
s=input("enter a string : ")
if s.isalnum():
    print(f"{s} is alphanumeric")
else:
    print(f"{s} is not alphanumeric")

enter a string : data2023
data2023 is alphanumeric

24. Extract all digits from a string.

In [ ]:
s=input("enter a string : ")
all_digits=''
for ch in s:
    if ch.isdigit():
        all_digits+=ch
print(f"all digits string : {all_digits}")

enter a string : data2023
all digits string : 2023

25. Extract all alphabets from a string.

In [ ]:
s=input("enter a string : ")
all_alphas=''
for ch in s:
    if ch.isalpha():
        all_alphas+=ch
print(f"all alphabets string : {all_alphas}")

enter a string : data2023
all alphabets string : data

26. Count the number of uppercase letters in a string.

In [ ]:
s=input("enter a string : ")
count_uc=0
for ch in s:
    if ch.isupper():
        count_uc+=1
print(f"total number uppercase letters : {count_uc}")

enter a string : Good Morning
total number uppercase letters : 2

27. Count the number of lowercase letters in a string.

In [ ]:
s=input("enter a string : ")
count_lc=0
for ch in s:
    if ch.islower():
        count_lc+=1
print(f"total number lowercase letters : {count_lc}")

enter a string : Good Morning
total number lowercase letters : 9

28. Swap the case of each character in a string.

In [ ]:
s=input("enter a string : ")
new_s=""
for ch in s:
    if ch.islower():
        new_s+=ch.upper()
    elif ch.isupper():
        new_s+=ch.lower()
    else:
        new_s+=ch
print(new_s)

enter a string : Good Morning
gOOD mORNING

29. Remove a specific word from a string.

In [ ]:
s=input("enter a string : ")
word=input("enter a word : ")
new_s=s.replace(word,'')
print(f"new string is : {new_s}")

enter a string : my name is prasant
enter a word : my
new string is :  name is prasant

30. Check if a string is a valid email address.

In [ ]:
s=input("enter an email ID : ")
email_parts=s.split("@")
if len(email_parts)==2:
    username,domain=email_parts
    if username.isalnum():
        if len(domain.split("."))==2:
            if domain.split(".")[0].isalnum() and domain.split(".")[1].isalpha():
                print(f"{s} is a valid email ID")
else:
    print(f"{s} is not a valid email ID")

enter an email ID : prasant@live.com
prasant@live.com is a valid email ID

31. Extract the username from an email address string.

In [ ]:
s=input("enter an email ID : ")
email_parts=s.split("@")
if len(email_parts)==2:
    username,domain=email_parts
    if username.isalnum():
      print(f"user name is {username}")
else:
    print(f"{s} is not a valid email ID")

enter an email ID : prasant23@live.com
user name is prasant23

32. Extract the domain name from an email address string.

In [ ]:
s=input("enter an email ID : ")
email_parts=s.split("@")
if len(email_parts)==2:
    username,domain=email_parts
    print(f"domain name is {domain}")
else:
    print(f"{s} is not a valid email ID")

enter an email ID : prasant23@live.com
domain name is live.com

33. Replace multiple spaces in a string with a single space.

In [ ]:
s=input("enter a string : ")
new_s=' '.join(s.split())
print(f"new string is '{new_s}'")

enter a string : I   am     going      to mall
new string is 'I am going to mall'

34. Check if a string is a valid URL.

In [ ]:
url=input("enter an URL : ")
schemes = ['http://', 'https://', 'ftp://', 'ftps://']
valid_scheme = False
for s in schemes:
    if url.startswith(s):
        valid_scheme = True
        break
if not valid_scheme:
    print(f"{url} is not a valid URL.")
else:

    url_without_scheme = url.split('://')[1]

    valid_chars = set('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-._~:/?#[]@!$&\'()*+,;=%')
    if all(char in valid_chars for char in url_without_scheme):
        print(f"{url} is a valid URL.")
    else:
        print(f"{url} is not a valid URL.")

enter an URL : https://facebook.com
https://facebook.com is a valid URL.

35. Extract the protocol (http or https) from a URL string.

In [ ]:
url=input("enter an URL : ")
schemes = ['http://', 'https://', 'ftp://', 'ftps://']
valid_scheme = False
for s in schemes:
    if url.startswith(s):
        valid_scheme = True
        break
if not valid_scheme:
    print(f"{url} is not a valid URL.")
else:

    protocol = url.split('://')[0]

    print(f"protocol is {protocol}")

enter an URL : https://facebook.com
protocol is https

36. Find the frequency of each character in a string.

In [ ]:
s=input("enter a string : ")

char_freq={}

for ch in s:
  if ch in char_freq:
    char_freq[ch]+=1
  else:
    char_freq[ch]=1

for ch, fq in char_freq.items():
    print(f"The character '{ch}' occurs {fq} times.")

enter a string : Good evening
The character 'G' occurs 1 times.
The character 'o' occurs 2 times.
The character 'd' occurs 1 times.
The character ' ' occurs 1 times.
The character 'e' occurs 2 times.
The character 'v' occurs 1 times.
The character 'n' occurs 2 times.
The character 'i' occurs 1 times.
The character 'g' occurs 1 times.

37. Remove all punctuation from a string.

In [ ]:
s=input("enter a string : ")
punctuation_chars = r'''!()-[]{};:'"\,<>./?@#$%^&*_~'''
new_s=""
for ch in s:
  if ch not in punctuation_chars:
    new_s+=ch
print(f"the new string is {new_s}")

enter a string : Hello, world!!!
the new string is Hello world

38. Check if a string contains only digits.

In [ ]:
s=input("enter a string : ")
s_isdigit=True
for ch in s:
  if not ch.isdigit():
    s_isdigit=False
    break
if s_isdigit:
  print(f"the string '{s}' contains only digits")
else:
  print(f"the string '{s}' doest n't contain only digits")

enter a string : 2023
the string '2023' contains only digits

39. Check if a string contains only alphabets.

In [ ]:
s=input("enter a string : ")
s_isalpha=True
for ch in s:
  if not ch.isalpha():
    s_isalpha=False
    break
if s_isalpha:
  print(f"the string '{s}' contains only alphabets")
else:
  print(f"the string '{s}' doest n't contain only alphabets")

enter a string : python
the string 'python' contains only alphabets

40. Convert a string to a list of characters.

In [ ]:
s=input("enter a string : ")
s_list=list(s)
print(s_list)

enter a string : python
['p', 'y', 't', 'h', 'o', 'n']

41. Check if two strings are anagrams

In [ ]:
s1=input("enter the first string : ")
s2=input("enter the second string : ")

new_s1=s1.replace(" ","").lower()
new_s2=s2.replace(" ","").lower()

if len(new_s1)==len(new_s2):

  char_freq_new_s1={}
  for ch in new_s1:
    if ch in char_freq_new_s1:
      char_freq_new_s1[ch]+=1
    else:
      char_freq_new_s1[ch]=1

  char_freq_new_s2={}
  for ch in new_s2:
    if ch in char_freq_new_s2:
      char_freq_new_s2[ch]+=1
    else:
      char_freq_new_s2[ch]=1
  if char_freq_new_s1==char_freq_new_s2:
    print("strings are anagrams")
else:
  print("strings are not anagrams")

enter the first string : Murder
enter the second string : REDRUM
strings are anagrams

42. Encode a string using a Caesar cipher.

In [ ]:
plaintext=input("enter a string : ")
shift=int(input("enter number of shifts needed : "))
cipher_text = ""
for char in plaintext:
    if char.isalpha():
        ascii_offset = ord('a') if char.islower() else ord('A')
        shifted_char = chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
        cipher_text += shifted_char
    else:
        cipher_text += char
print(f"Original Text: {plaintext}")
print(f"Encrypted Text: {cipher_text}")

enter a string : Good Morning
enter number of shifts needed : 4
Original Text: Good Morning
Encrypted Text: Kssh Qsvrmrk

43. Decode a Caesar cipher encoded string.

In [ ]:
cipher_text=input("enter a string : ")
shift=int(input("enter number of shifts needed : "))
decoded_text = ""
for char in cipher_text:
    if char.isalpha():
        ascii_offset = ord('a') if char.islower() else ord('A')
        shifted_char = chr((ord(char) - ascii_offset - shift) % 26 + ascii_offset)
        decoded_text += shifted_char
    else:
        decoded_text += char
print(f"Encrypted Text: {cipher_text}")
print(f"Original Text: {decoded_text}")

enter a string : Kssh Qsvrmrk
enter number of shifts needed : 4
Encrypted Text: Kssh Qsvrmrk
Original Text: Good Morning

44. Find the most frequent word in a string.

In [ ]:
s=input("enter a string : ")

word_list=s.lower().split()

word_frq={}

for word in word_list:
  if word in word_frq:
    word_frq[word]+=1
  else:
    word_frq[word]=1

most_frequent_word = max(word_frq, key=word_frq.get)

print(f"the most frequent word is '{most_frequent_word}'")

enter a string : I am going to market to take vegitables
the most frequent word is 'to'

45. Find all unique words in a string.

In [ ]:
s=input("enter a string : ")

word_list=s.lower().split()

word_frq={}

for word in word_list:
  if word in word_frq:
    word_frq[word]+=1
  else:
    word_frq[word]=1

print("all unique words are ")
for key, value in word_frq.items():
    if value == 1:
        print(key)

enter a string : I am going to market to take vegitables
all unique words are
i
am
going
market
take
vegitables

46. Count the number of syllables in a string.

In [ ]:
s=input("enter a string : ")
in_syllable = False
count=0
for ch in s.lower():
  if ch in 'aeiou':
    if not in_syllable:
            count += 1
            in_syllable = True
    else:
        in_syllable = False

if s.lower().endswith("e"):
    count -= 1
if s.lower().endswith("le"):
    count += 1

count=max(count,1)
print(f"The string '{s}' has {count} syllables.")

enter a string : reading
The string 'reading' has 2 syllables.

47. Check if a string contains any special characters.

In [ ]:
s=input("enter a string : ")

special_chars = set("!@#$%^&*()_+{}[]:;<>,.?~\\|\"")
special=False
for ch in s:
  if ch in special_chars:
    special=True

if special:
  print(f"the string '{s}' contains special characters")
else:
  print(f"the string '{s}' doesn't contain any special characters")

enter a string : Hello, World!!
the string 'Hello, World!!' contains special characters

48. Remove the nth word from a string.

In [ ]:
s=input("enter a string : ")
n=int(input("enter word number want to remove : "))

word_list=s.split()

word_list.pop(n)

new_s=" ".join(word_list)

print(new_s)

enter a string : Remove the nth word from a string
enter word number want to remove : 3
Remove the nth from a string

49. Insert a word at the nth position in a string.

In [ ]:
s=input("enter a string : ")
word=input("enter the word to insert : ")
n=int(input("enter word position want to insert : "))

word_list=s.split()

word_list.insert(n,word)

new_s=" ".join(word_list)

print(new_s)

enter a string : Remove the nth from a string
enter the word to insert : word
enter word position want to insert : 3
Remove the nth word from a string

50. Convert a CSV string to a list of lists.

In [ ]:
s=input("enter a string : ")
word_list=s.split(',')
print(word_list)

enter a string : I,am,going,to,market
['I', 'am', 'going', 'to', 'market']

## List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [ ]:
l1=[i for i in range(1,11)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
length=0
for i in l1:
  length+=1
print(f"length of list = {length}")

length of list = 10

3. Append an element to the end of a list.

In [ ]:
element=int(input("enter an element : "))
l1.append(element)
print(l1)

enter an element : 99
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99]

4. Insert an element at a specific index in a list.

In [ ]:
element=int(input("enter an element : "))
id=int(input(f"enter an index to enter {element} : "))
l1.insert(id,element)
print(l1)

enter an element : 100
enter an index to enter 100 : 5
[1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 10, 99]

5. Remove an element from a list by its value.

In [ ]:
element=int(input("enter an element to remove : "))
if element in l1:
  l1.remove(element)
  print(f"{element} is removed")
  print(l1)
else:
  print(f"{element} is not found in list")

enter an element to remove : 99
99 is removed
[1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [ ]:
id=int(input(f"enter an index to remove : "))
l1.pop(id)
print(f"the list after removing element at index {id}")
print(l1)

enter an index to remove : 5
the list after removing element at index 5
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [ ]:
element=int(input("enter an element : "))
if element in l1:
  print(f"the element {element} exist in the list")
else:
  print(f"the element {element} does n't exist in the list")

enter an element : 9
the element 9 exist in the list

8. Find the index of the first occurrence of an element in a list.

In [ ]:
element=int(input("enter an element : "))
if element in l1:
  id=l1.index(element)
  print(f"{element} is present at index {id}")
else:
  print(f"{element} does n't exist")

enter an element : 7
7 is present at index 6

9. Count the occurrences of an element in a list.

In [ ]:
element=int(input("enter an element : "))
occurrence=l1.count(element)
print(f"{element} occurs {occurrence} times")

enter an element : 8
8 occurs 1 times

10. Reverse the order of elements in a list.

In [ ]:
print(f"current list {l1}")
l1=l1[::-1]
print(f"reverses list {l1}")

current list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reverses list [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [ ]:
print(f"current list {l1}")
l1=sorted(l1)
print(f"ascending sorted list {l1}")

current list [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
ascending sorted list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order.

In [ ]:
print(f"current list {l1}")
l1=sorted(l1,reverse=True)
print(f"ascending sorted list {l1}")

current list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ascending sorted list [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [ ]:
l2=[i for i in range(1,21) if i%2==0]
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
l3=[i for i in range(1,21) if i%2!=0]
print(l3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
list_sum=sum(l3)
print(f"sum of {l3} is {list_sum}")

sum of [1, 3, 5, 7, 9, 11, 13, 15, 17, 19] is 100

16. Find the maximum value in a list.

In [ ]:
list_max=max(l3)
print(f"max of {l3} is {list_max}")

max of [1, 3, 5, 7, 9, 11, 13, 15, 17, 19] is 19

17. Find the minimum value in a list.

In [ ]:
list_min=min(l3)
print(f"min of {l3} is {list_min}")

min of [1, 3, 5, 7, 9, 11, 13, 15, 17, 19] is 1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
l4=[i**2 for i in range(1,11)]
print(l4)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
import random
l5=[random.randint(1,100) for _ in range(10)]
print(l5)

[41, 90, 52, 9, 30, 92, 41, 23, 98, 41]

20. Remove duplicates from a list.

In [ ]:
unique_list=[]
for item in l5:
  if item not in unique_list:
    unique_list.append(item)
print(f"unique list is {unique_list}")

unique list is [41, 90, 52, 9, 30, 92, 23, 98]

21. Find the common elements between two lists.

In [ ]:
common_elements = [element for element in l4 if element in l5]
print(f"common elements : {common_elements}")

common elements : [9]

22. Find the difference between two lists.

In [ ]:
difference_elements = [element for element in l4 if element not in l5]
print(f"difference elements : {difference_elements}")

difference elements : [1, 4, 16, 25, 36, 49, 64, 81, 100]

23. Merge two lists.

In [ ]:
l4.extend(l5)
print(f"merged list is {l4}")

merged list is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 41, 90, 52, 9, 30, 92, 41, 23, 98, 41]

24. Multiply all elements in a list by 2.

In [ ]:
print(f"befor multiplying list is : {l5}")
l6=[i*2 for i in l5]
print(f"befor multiplying by 2 list is : {l6}")

befor multiplying list is : [41, 90, 52, 9, 30, 92, 41, 23, 98, 41]
befor multiplying by 2 list is : [82, 180, 104, 18, 60, 184, 82, 46, 196, 82]

25. Filter out all even numbers from a list

In [ ]:
print(f"the list is {l5}")
even_list=[i for i in l5 if i%2==0]
print(f"even list is {even_list}")

the list is [41, 90, 52, 9, 30, 92, 41, 23, 98, 41]
even list is [90, 52, 30, 92, 98]

26. Convert a list of strings to a list of integers.

In [ ]:
str_list = ["1", "2", "3", "4", "5"]
print(f"stringr list is {str_list}")

int_list = [int(item) for item in str_list]
print(f"integer list is {int_list}")

stringr list is ['1', '2', '3', '4', '5']
integer list is [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [ ]:
print(f"integer list is {even_list}")
str_list = [str(item) for item in even_list]

print(f"string list is {str_list}")

integer list is [90, 52, 30, 92, 98]
string list is ['90', '52', '30', '92', '98']

28. Flatten a nested list.

In [ ]:
rows = int(input("Enter the number of rows: "))
cols = int(input("Enter the number of columns: "))

matrix=[]

print("enter elemets in the 2D list :")
for i in range(rows):
    row=[]
    for j in range(cols):
        element=int(input(f"mat[{i}][{j}] = "))
        row.append(element)
    matrix.append(row)
flat_list=[item for row in matrix for item in row]
print("flatten list is ")
print(flat_list)

Enter the number of rows: 2
Enter the number of columns: 3
enter elemets in the 2D list :
mat[0][0] = 1
mat[0][1] = 2
mat[0][2] = 3
mat[1][0] = 4
mat[1][1] = 5
mat[1][2] = 6
flatten list is
[1, 2, 3, 4, 5, 6]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
n=10
if n<=0:
    print("no fibonacci number")
else:
    fib=[0,1]
    for i in range(2,n):
        fib.append(fib[i-1]+fib[i-2])
print(f"first {n} Fibonacci numbers are : ")
print(fib[:n])

first 10 Fibonacci numbers are :
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
print(f"the list is {flat_list}")
if flat_list==sorted(flat_list):
  print(f"the list {flat_list} is sorted")
else:
  print(f"the list {flat_list} is not sorted")

the list is [1, 2, 3, 4, 5, 6]
the list [1, 2, 3, 4, 5, 6] is sorted

31. Rotate a list to the left by `n` positions.

In [ ]:
print(f"the list is {flat_list}")
n=int(input("enter a number to rotate the list to that positions : "))
if n<=len(flat_list):
  new_list=flat_list[n:]+flat_list[:n]
  print(f"list after left rotate by {n} positions is {new_list}")
else:
  print("invalid rotation position")

the list is [1, 2, 3, 4, 5, 6]
enter a number to rotate the list to that positions : 2
list after left rotate by 2 positions is [3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [ ]:
print(f"the list is {flat_list}")
n=int(input("enter a number to rotate the list to that positions in right : "))
if n<=len(flat_list):
  new_list=flat_list[-n:]+flat_list[:-n]
  print(f"list after right rotate by {n} positions is {new_list}")
else:
  print("invalid rotation position")

the list is [1, 2, 3, 4, 5, 6]
enter a number to rotate the list to that positions in right : 2
list after left rotate by 2 positions is [5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [ ]:
prime_numbers = [num for num in range(1, 51) if num > 1 and all(num % i != 0 for i in range(2, num//2 + 1)) ]
print(f"prime numbers : {prime_numbers}")

prime numbers : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [ ]:
n=int(input("enter chunk size : "))
if n>0 and n<=len(prime_numbers):
  list_chunks=[prime_numbers[i:i+n] for i in range(0,len(prime_numbers),n)]
  print(f"list of chunks : {list_chunks}")
else:
  print("invalid chunk size")

enter chunk size : 4
list of chunks : [[2, 3, 5, 7], [11, 13, 17, 19], [23, 29, 31, 37], [41, 43, 47]]

35. Find the second largest number in a list.

In [ ]:
import random
l5=[random.randint(1,100) for _ in range(10)]
print(f"the list is {l5}")
l5=sorted(l5)
print(f"second largest number is {l5[-2]}")

the list is [72, 55, 84, 58, 62, 17, 26, 91, 5, 5]
second largest number is 84

36. Replace every element in a list with its square

In [ ]:
import random
l5=[random.randint(1,20) for _ in range(10)]
print(f"the list is {l5}")
new_list=[i**2 for i in l5]
print(f"the updated list is {new_list}")

the list is [12, 7, 20, 5, 14, 6, 13, 16, 6, 6]
the updated list is [144, 49, 400, 25, 196, 36, 169, 256, 36, 36]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
dict1={l5[i]:i for i in range(len(l5))}
print("combined dictionary is : ")
print(dict1)

combined dictionary is :
{12: 0, 7: 1, 20: 2, 5: 3, 14: 4, 6: 9, 13: 6, 16: 7}

38. Shuffle the elements of a list randomly.

In [ ]:
import random
l6=[random.randint(1,20) for _ in range(10)]
print(f"the list before shuffleing is {l6}")
random.shuffle(l6)
print(f"the list after shuffleing is {l6}")

the list before shuffleing is [6, 10, 1, 9, 15, 19, 1, 3, 18, 11]
the list after shuffleing is [15, 11, 9, 18, 1, 19, 3, 10, 6, 1]

39. Create a list of the first 10 factorial numbers

In [ ]:
factorial_numbers = []
for n in range(1, 11):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    factorial_numbers.append(factorial)

print("First 10 Factorial Numbers:", factorial_numbers)

First 10 Factorial Numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [ ]:
import random
l1=[random.randint(1,100) for _ in range(10)]
print(f"the first list is {l1}")

l2=[random.randint(1,20) for _ in range(10)]
print(f"the second list is {l2}")
common_elements = [element for element in l1 if element in l2]
print(f"common elements : {common_elements}")
if len(common_elements)>=1:
  print("two lists have at least one element in common")
else:
  print("two lists have no element in common")

the first list is [80, 19, 40, 36, 29, 33, 74, 4, 42, 72]
the second list is [10, 2, 11, 17, 8, 9, 14, 6, 1, 19]
common elements : [19]
two lists have at least one element in common

41. Remove all elements from a list.

In [ ]:
import random
l1=[random.randint(1,100) for _ in range(10)]
print(f"before removing the list is {l1}")
l1.clear()
print(f"after removing the list is {l1}")

before removing the list is [39, 8, 89, 14, 26, 95, 98, 96, 66, 94]
after removing the list is []

42. Replace negative numbers in a list with 0.

In [ ]:
import random
l1=[random.randint(-20,20) for _ in range(10)]
print(f"the list is {l1}")
new_list=[]
for i in l1:
  if i<0:
    new_list.append(0)
  else:
    new_list.append(i)

print(f"the updated list is {new_list}")

the list is [13, -2, -7, -19, 14, -15, 13, 13, -2, 15]
the updated list is [13, 0, 0, 0, 14, 0, 13, 13, 0, 15]

43. Convert a string into a list of words.

In [ ]:
s=input("enter a string : ")
word_list=s.split()
print(f"list of words : {word_list}")

enter a string : I am going to market
list of words : ['I', 'am', 'going', 'to', 'market']

44. Convert a list of words into a string.

In [ ]:
print(f"list of words : {word_list}")
joined_s=" ".join(word_list)
print(f"string is '{joined_s}'")

list of words : ['I', 'am', 'going', 'to', 'market']
string is 'I am going to market'

45. Create a list of the first `n` powers of 2.

In [ ]:
n=int(input("enter value of n : "))
new_list=[i**2 for i in range(1,n+1)]
print(f"the list is {new_list}")

enter value of n : 10
the list is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

46. Find the longest string in a list of strings.

In [ ]:
print(f"list of words : {word_list}")
longest=max(word_list,key=len)
print(f"longest string is '{longest}'")

list of words : ['I', 'am', 'going', 'to', 'market']
longest string is 'market'

47. Find the shortest string in a list of strings.

In [ ]:
print(f"list of words : {word_list}")
shortest=min(word_list,key=len)
print(f"shortest string is '{shortest}'")

list of words : ['I', 'am', 'going', 'to', 'market']
shortest string is 'I'

48. Create a list of the first `n` triangular numbers.

In [ ]:
n=int(input("enter value of n : "))
triangular_numbers = []
total = 0
for i in range(1, n + 1):
    total += i
    triangular_numbers.append(total)
print(f"list of the first {n} triangular numbers : {triangular_numbers}")

enter value of n : 10
list of the first 10 triangular numbers : [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [ ]:
sequence = [1, 2, 3, 4, 5, 6, 7]
subsequence = [2, 4, 6]
sub_len, seq_len = len(subsequence), len(sequence)
sub_idx, seq_idx = 0, 0

while sub_idx < sub_len and seq_idx < seq_len:
    if subsequence[sub_idx] == sequence[seq_idx]:
        sub_idx += 1
    seq_idx += 1
if sub_idx == sub_len:
    print(f"{subsequence} is a subsequence of {sequence}")
else:
    print(f"{subsequence} is not a subsequence of {sequence}")

[2, 4, 6] is a subsequence of [1, 2, 3, 4, 5, 6, 7]

50. Swap two elements in a list by their indices.

In [ ]:
import random
l1=[random.randint(1,100) for _ in range(10)]
print(f"the list before swaping : {l1}")
index1=int(input("enter index-1 to swap from : "))
index2=int(input("enter index-2 to swap into : "))
if 0 <= index1 < len(l1) and 0 <= index2 < len(l1):
    # Swap the elements at the specified indices
    l1[index1], l1[index2] = l1[index2], l1[index1]

print("List after swapping : ", l1)

the list before swaping : [16, 28, 65, 99, 67, 46, 99, 25, 70, 7]
enter index-1 to swap from : 2
enter index-2 to swap into : 5
List after swapping :  [16, 28, 46, 99, 67, 65, 99, 25, 70, 7]

## Tuple Based Practice Problem:

1. Create a tuple with integers from 1 to 5.

In [ ]:
t1=(1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [ ]:
print(t1[2])

3

3. Find the length of a tuple without using the `len()` function.

In [ ]:
length=0
for i in t1:
  length+=1
print(f"length of {t1} is {length}")

length of (1, 2, 3, 4, 5) is 5

4. Count the occurrences of an element in a tuple.

In [ ]:
import random
t2=tuple(random.randint(1,20) for _ in range(10))
print(f"the tuple is {t2}")
element=int(input("enter an element : "))
if element in t2:
  count_occr=t2.count(element)
  print(f"the element {element} is occured {count_occr} times")
else:
  print(f"the element {element} is not in the tuple")

the tuple is (17, 1, 19, 5, 3, 13, 17, 6, 11, 10)
enter an element : 5
the element 5 is occured 1 times

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
import random
t2=tuple(random.randint(1,20) for _ in range(10))
print(f"the tuple is {t2}")
element=int(input("enter an element : "))
if element in t2:
  first_occr_idx=t2.index(element)
  print(f"the element {element} is occured  first at index {first_occr_idx}")
else:
  print(f"the element {element} is not in the tuple")

the tuple is (15, 5, 16, 9, 10, 4, 8, 2, 6, 9)
enter an element : 4
the element 4 is occured  first at index 5

6. Check if an element exists in a tuple.

In [ ]:
import random
t2=tuple(random.randint(1,20) for _ in range(10))
print(f"the tuple is {t2}")
element=int(input("enter an element : "))
if element in t2:
  print(f"the element {element} is in the tuple")
else:
  print(f"the element {element} is not in the tuple")

the tuple is (3, 2, 18, 18, 1, 11, 4, 3, 20, 19)
enter an element : 24
the element 24 is not in the tuple

7. Convert a tuple to a list.

In [ ]:
import random
t2=tuple(random.randint(1,20) for _ in range(10))
print(f"the tuple is {t2}")
l2=list(t2)
print(f"the equivalent list is {l2}")

the tuple is (15, 15, 19, 17, 6, 4, 9, 7, 13, 15)
the equivalent list is [15, 15, 19, 17, 6, 4, 9, 7, 13, 15]

8. Convert a list to a tuple.

In [ ]:
import random
l2=[random.randint(1,20) for _ in range(10)]
print(f"the list is {l2}")
t2=tuple(l2)
print(f"the equivalent tuple is {t2}")

the list is [17, 16, 7, 2, 5, 10, 2, 2, 9, 14]
the equivalent tuple is (17, 16, 7, 2, 5, 10, 2, 2, 9, 14)

9. Unpack the elements of a tuple into variables.

In [ ]:
import random
t2=tuple(random.randint(1,20) for _ in range(5))
print(f"the tuple is {t2}")
v1,v2,v3,v4,v5=t2
print("variable-1 = ",v1)
print("variable-2 = ",v2)
print("variable-3 = ",v3)
print("variable-4 = ",v4)
print("variable-5 = ",v5)

the tuple is (20, 3, 5, 7, 9)
variable-1 =  20
variable-2 =  3
variable-3 =  5
variable-4 =  7
variable-5 =  9

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
t3=tuple(i for i in range(1,11) if i%2==0)
print(f"the tuple is {t3}")

the tuple is (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
t4=tuple(i for i in range(1,11) if i%2!=0)
print(f"the tuple is {t4}")

the tuple is (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
t5=t3+t4
print(f"the first tuple is {t3}")
print(f"the second tuple is {t4}")
print(f"the concatenated tuple is {t5}")

the first tuple is (2, 4, 6, 8, 10)
the second tuple is (1, 3, 5, 7, 9)
the concatenated tuple is (2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [ ]:
print(f"three times of {t3} is {t3*3}")

three times of (2, 4, 6, 8, 10) is (2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

14. Check if a tuple is empty.

In [ ]:
if not t5:
  print(f"{t5} is empty")
else:
  print(f"{t5} is not empty")

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9) is not empty

15. Create a nested tuple.

In [ ]:
t6=((1,2,3),4,5,6)
print(f"the nested tuple is {t6}")

the nested tuple is ((1, 2, 3), 4, 5, 6)

16. Access the first element of a nested tuple.

In [ ]:
x=t6[0][0]
print(f"the first element of {t6} is {x}")

the first element of ((1, 2, 3), 4, 5, 6) is 1

17. Create a tuple with a single element.

In [ ]:
t7=(1,)
print(f"the tuple is {t7}")

the tuple is (1,)

18. Compare two tuples.

In [ ]:
import random
t1=tuple(random.randint(1,20) for _ in range(5))
print(f"the first tuple is {t1}")
t2=tuple(random.randint(1,20) for _ in range(5))
print(f"the second tuple is {t2}")
if t1==t2:
  print(f"the tuples are equal")
else:
  print(f"the tuples are not equal")

the first tuple is (9, 8, 3, 8, 2)
the second tuple is (7, 7, 8, 5, 15)
the tuples are not equal

19. Delete a tuple.

In [ ]:
import random
t1=tuple(random.randint(1,20) for _ in range(5))
print(f"the tuple is {t1}")
del t1

the tuple is (17, 4, 8, 17, 18)

20. Slice a tuple.

In [ ]:
import random
t1=tuple(random.randint(1,20) for _ in range(5))
print(f"the tuple is {t1}")
print(f"the sliced tuple is {t1[:2]}")

the tuple is (14, 1, 13, 14, 20)
the sliced tuple is (14, 1)

21. Find the maximum value in a tuple.

In [ ]:
import random
t1=tuple(random.randint(1,20) for _ in range(5))
print(f"the tuple is {t1}")
maximum=max(t1)
print(f"maximum = {maximum}")

the tuple is (13, 4, 12, 6, 2)
maximum = 13

22. Find the minimum value in a tuple.

In [ ]:
import random
t1=tuple(random.randint(1,20) for _ in range(5))
print(f"the tuple is {t1}")
mainimum=min(t1)
print(f"minimum = {mainimum}")

the tuple is (2, 19, 9, 1, 3)
minimum = 1

23. Convert a string to a tuple of characters.

In [ ]:
s=input("enter a string : ")
print(f"the string is '{s}'")
t=tuple(s)
print(f"the tuple is {t}")

enter a string : hello
the string is 'hello'
the tuple is ('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [ ]:
print(f"the tuple is {t}")
s=''.join(t)
print(f"the string is '{s}'")

the tuple is ('h', 'e', 'l', 'l', 'o')
the string is 'hello'

25. Create a tuple from multiple data types.

In [ ]:
t=(23,'hello',False,453.21)
print(f"the tuple is {t}")

the tuple is (23, 'hello', False, 453.21)

26. Check if two tuples are identical.

In [ ]:
import random
t1=tuple(random.randint(1,20) for _ in range(5))
print(f"the first tuple is {t1}")
t2=tuple(random.randint(1,20) for _ in range(5))
print(f"the second tuple is {t2}")
if t1==t2:
  print(f"the tuples are equal")
else:
  print(f"the tuples are not equal")

the first tuple is (10, 15, 11, 7, 18)
the second tuple is (18, 2, 1, 7, 2)
the tuples are not equal

27. Sort the elements of a tuple.

In [ ]:
import random
t1=tuple(random.randint(1,50) for _ in range(5))
print(f"the tuple is {t1}")
l1=list(t1)
l1.sort()

t1=tuple(l1)
print(f"the sorted tuple is {t1}")

the tuple is (17, 44, 29, 14, 10)
the sorted tuple is (10, 14, 17, 29, 44)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
import random
t1=tuple(random.randint(1,50) for _ in range(5))
print(f"the integer tuple is {t1}")
t2=tuple(str(i) for i in t1)
print(f"the string tuple is {t2}")

the integer tuple is (30, 38, 14, 8, 18)
the string tuple is ('30', '38', '14', '8', '18')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
print(f"the string tuple is {t2}")
t1=tuple(int(i) for i in t2)
print(f"the integer tuple is {t1}")

the string tuple is ('30', '38', '14', '8', '18')
the integer tuple is (30, 38, 14, 8, 18)

30. Merge two tuples.

In [ ]:
import random
t1=tuple(random.randint(1,50) for _ in range(5))

t2=tuple(random.randint(1,50) for _ in range(5))

t3=t1+t2
print(f"the first tuple is {t1}")
print(f"the second tuple is {t2}")
print(f"the merged tuple is {t3}")

the first tuple is (29, 8, 12, 5, 9)
the second tuple is (25, 43, 13, 21, 4)
the merged tuple is (29, 8, 12, 5, 9, 25, 43, 13, 21, 4)

31. Flatten a nested tuple.

In [ ]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))
flattened_tuple = tuple(item for sublist in nested_tuple for item in (sublist if isinstance(sublist, tuple) else (sublist,)))
print(f"flattened tuple is {flattened_tuple}")

flattened tuple is (1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
count=0
num=2
prime_list=()
while count < 5:
    is_prime = True
    for i in range(2, num//2 + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_list+=(num,)
        count += 1
    num += 1

print(f"prime numbers : {prime_list}")

prime numbers : (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [ ]:
my_tuple = (1, 2, 3, 2, 1)

if my_tuple == my_tuple[::-1]:
    print("The tuple is a palindrome")
else:
    print("The tuple is not a palindrome")

The tuple is a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
t1=tuple(i**2 for i in range(1,6))
print(f"the tuple is {t1}")

the tuple is (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
import random
t1=tuple(random.randint(1,50) for _ in range(10))
print(f"the tuple is {t1}")
filtered_t1=tuple(i for i in t1 if i%2==0)
print(f"the filtered tuple of even numbers is {filtered_t1}")

the tuple is (14, 9, 18, 1, 38, 42, 14, 37, 12, 20)
the filtered tuple of even numbers is (14, 18, 38, 42, 14, 12, 20)

36. Multiply all elements in a tuple by 2.

In [ ]:
import random
t1=tuple(random.randint(1,50) for _ in range(5))
print(f"the tuple is {t1}")
mul2_t1=tuple(i*2 for i in t1)
print(f"the tuple of elements multiplied by 2 is {mul2_t1}")

the tuple is (6, 12, 15, 40, 29)
the tuple of elements multiplied by 2 is (12, 24, 30, 80, 58)

37. Create a tuple of random numbers.

In [ ]:
import random
t1=tuple(random.randint(1,50) for _ in range(5))
print(f"the tuple of random numbers is {t1}")

the tuple of random numbers is (18, 27, 7, 29, 7)

38. Check if a tuple is sorted.

In [ ]:
import random
t1=tuple(random.randint(1,50) for _ in range(5))
print(f"the tuple is {t1}")
l1=list(t1)
l1.sort()

t2=tuple(l1)
if t1==t2:
  print(f"the tuple {t1} is sorted")
else:
  print(f"the tuple {t1} is not sorted")

the tuple is (3, 37, 3, 23, 36)
the tuple (3, 37, 3, 23, 36) is not sorted

39. Rotate a tuple to the left by `n` positions.

In [ ]:
import random
t1=tuple(random.randint(1,50) for _ in range(5))
print(f"the tuple is {t1}")
n=int(input("enter a number to rotate the tuple to that positions : "))
if n<=len(t1):
  new_tuple=t1[n:]+t1[:n]
  print(f"tuple after left rotate by {n} positions is {new_tuple}")
else:
  print("invalid rotation position")

the tuple is (30, 38, 48, 40, 20)
enter a number to rotate the tuple to that positions : 2
tuple after left rotate by 2 positions is (48, 40, 20, 30, 38)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
import random
t1=tuple(random.randint(1,50) for _ in range(5))
print(f"the tuple is {t1}")
n=int(input("enter a number to rotate the tuple to that positions : "))
if n<=len(t1):
  new_tuple=t1[-n:]+t1[:-n]
  print(f"tuple after right rotate by {n} positions is {new_tuple}")
else:
  print("invalid rotation position")

the tuple is (11, 38, 36, 2, 13)
enter a number to rotate the tuple to that positions : 2
tuple after right rotate by 2 positions is (2, 13, 11, 38, 36)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
n=5
if n<=0:
    print("no fibonacci number")
else:
    fib=(0,1)
    while len(fib)<5:
      new=fib[-1]+fib[-2]
      fib+=(new,)
print(f"first {n} Fibonacci numbers are : {fib}")

first 5 Fibonacci numbers are : (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [ ]:
n=int(input("enter size of tuple : "))
t=()
for i in range(n):
  element=int(input(f"enter element-{i+1} : "))
  t+=(element,)
print(f"the tuple is {t}")

enter size of tuple : 5
enter element-1 : 41
enter element-2 : 25
enter element-3 : 39
enter element-4 : 46
enter element-5 : 22
the tuple is (41, 25, 39, 46, 22)

43. Swap two elements in a tuple.

In [ ]:
import random
t1=tuple(random.randint(1,100) for _ in range(10))
print(f"the tuple before swaping : {t1}")
index1=int(input("enter index-1 to swap from : "))
index2=int(input("enter index-2 to swap into : "))
if 0 <= index1 < len(t1) and 0 <= index2 < len(t1):
    t1=list(t1)
    t1[index1], t1[index2] = t1[index2], t1[index1]
    t1=tuple(t1)
    print("tuple after swapping : ", t1)
else:
  print("entered index out of bound")

the tuple before swaping : (76, 29, 76, 75, 85, 83, 72, 9, 53, 4)
enter index-1 to swap from : 3
enter index-2 to swap into : 7
tuple after swapping :  (76, 29, 76, 9, 85, 83, 72, 75, 53, 4)

44. Reverse the elements of a tuple.

In [ ]:
import random
t1=tuple(random.randint(1,100) for _ in range(10))
print(f"the tuple is : {t1}")
t1=t1[::-1]
print(f"the tuple after reversing is : {t1}")

the tuple is : (69, 92, 86, 41, 52, 89, 92, 26, 70, 17)
the tuple after reversing is : (17, 70, 26, 92, 89, 52, 41, 86, 92, 69)

45. Create a tuple of the first `n` powers of 2.

In [66]:
n=int(input("enter value of n : "))
new_tuple=tuple(i**2 for i in range(1,n+1))
print(f"the tuple is {new_tuple}")

enter value of n : 5
the tuple is (1, 4, 9, 16, 25)

46. Find the longest string in a tuple of strings.

In [ ]:
word_list=("apple", "banana", "cherry", "date", "elderberry")
longest=""
for string in word_list:
  if len(string)>len(longest):
    longest=string
print(f"longest string is '{longest}'")

longest string is 'elderberry'

47. Find the shortest string in a tuple of strings.

In [ ]:
word_list=("apple", "banana", "cherry", "date", "elderberry")
shortest=word_list[0]
for string in word_list:
  if len(string)<len(shortest):
    shortest=string
print(f"longest string is '{shortest}'")

longest string is 'date'

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
n=int(input("enter value of n : "))
triangular_numbers = ()
total = 0
for i in range(1, n + 1):
    total += i
    triangular_numbers+=(total,)
print(f"list of the first {n} triangular numbers : {triangular_numbers}")

enter value of n : 8
list of the first 8 triangular numbers : (1, 3, 6, 10, 15, 21, 28, 36)

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
sequence = (1, 2, 3, 4, 5, 6, 7)
subsequence = (2, 4, 6)
sub_len, seq_len = len(subsequence), len(sequence)
sub_idx, seq_idx = 0, 0

while sub_idx < sub_len and seq_idx < seq_len:
    if subsequence[sub_idx] == sequence[seq_idx]:
        sub_idx += 1
    seq_idx += 1
if sub_idx == sub_len:
    print(f"{subsequence} is a subsequence of {sequence}")
else:
    print(f"{subsequence} is not a subsequence of {sequence}")

(2, 4, 6) is a subsequence of (1, 2, 3, 4, 5, 6, 7)

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
n=int(input("enter value of n : "))

t1=tuple(1 if i%2==0 else 0 for i in range(n))
print(f"the tuple is {t1}")

enter value of n : 10
the tuple is (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [ ]:
s1={i for i in range(1,6)}
print(f"the set is {s1}")

the set is {1, 2, 3, 4, 5}

2. Add an element to a set.

In [ ]:
element=int(input("enter an element to insert : "))
s1.add(element)
print(f"the set is : {s1}")

enter an element to insert : 99
the set is : {1, 2, 3, 4, 5, 99}

3. Remove an element from a set.

In [ ]:
element=int(input("enter an element to remove : "))
if element in s1:
  s1.remove(element)
  print(f"the set is : {s1}")
else:
  print(f"{element } does't exist in {s1}")

enter an element to remove : 99
the set is : {1, 2, 3, 4, 5}



4. Check if an element exists in a set.

In [ ]:
element=int(input("enter an element : "))
if element in s1:
  print(f"{element } exist in {s1}")
else:
  print(f"{element } does't exist in {s1}")

enter an element to remove : 9
9 does't exist in {1, 2, 3, 4, 5}

5. Find the length of a set without using the `len()` function.

In [ ]:
length=0
for i in s1:
  length+=1
print(f"length of {s1} is {length}")

length of {1, 2, 3, 4, 5} is 5

6. Clear all elements from a set.

In [ ]:
print(f"the set is : {s1}")
s1.clear()
print(f"after clearing the set is : {s1}")

the set is : {1, 2, 3, 4, 5}
after clearing the set is : set()

7. Create a set of even numbers from 1 to 10.

In [ ]:
even_set={i for i in range(1,11) if i%2==0}
print(f"the even set is {even_set}")

the even set is {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [ ]:
odd_set={i for i in range(1,11) if i%2!=0}
print(f"the odd set is {odd_set}")

the odd set is {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
union_set=s1.union(s2)
print(f"union of {s1} and {s2} is {union_set}")

the first set is {2, 3, 14, 15, 17}
the second set is {8, 2, 3, 4}
union of {2, 3, 14, 15, 17} and {8, 2, 3, 4} is {2, 3, 4, 8, 14, 15, 17}

10. Find the intersection of two sets.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
inter_set=s1.intersection(s2)
print(f"intersection of {s1} and {s2} is {inter_set}")

the first set is {1, 7, 11, 16, 18}
the second set is {2, 11, 20, 12}
intersection of {1, 7, 11, 16, 18} and {2, 11, 20, 12} is {11}

11. Find the difference between two sets.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
differ_set=s1.difference(s2)
print(f"difference of {s1} and {s2} (s1-s2) is {differ_set}")

the first set is {16, 19, 20, 14}
the second set is {18, 19, 20, 12}
difference of {16, 19, 20, 14} and {18, 19, 20, 12} (s1-s2) is {16, 14}

12. Check if a set is a subset of another set.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
if s1.issubset(s2):
  print(f"{s1} is a subset of {s2}")
else:
  print(f"{s1} is not a subset of {s2}")

the first set is {1, 2, 6, 9, 12}
the second set is {1, 3, 6, 9, 16}
{1, 2, 6, 9, 12} is not a subset of {1, 3, 6, 9, 16}


13. Check if a set is a superset of another set.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
if s1.issuperset(s2):
  print(f"{s1} is a superset of {s2}")
else:
  print(f"{s1} is not a superset of {s2}")

the first set is {8, 14, 15}
the second set is {8, 1, 2, 3}
{8, 14, 15} is not a superset of {8, 1, 2, 3}

14. Create a set from a list.

In [ ]:
import random
l1=[random.randint(1,20) for _ in range(10)]
print(f"the list is {l1}")
s1=set(l1)
print(f"the equivalent set is {s1}")

the list is [8, 15, 19, 7, 12, 7, 16, 19, 9, 3]
the equivalent set is {3, 7, 8, 9, 12, 15, 16, 19}


15. Convert a set to a list.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the set is {s1}")
l1=list(s1)
print(f"the equivalent list is {l1}")

the set is {1, 3, 5, 18, 20}
the equivalent list is [1, 3, 5, 18, 20]

16. Remove a random element from a set.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the set is {s1}")
random_element=random.randint(1,20)
if random_element in s1:
  s1.remove(random_element)
  print(f"the set after removing {random_element} is {s1}")
else:
  print(f"{random_element} does n't exist in set")

the set is {2, 10, 11, 14, 17}
the set after removing 17 is {2, 10, 11, 14}


17. Pop an element from a set.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the set is {s1}")
if len(s1)>0:
  s1.pop()
  print(f"the set after pop is {s1}")
else:
  print(f"the set {s1} is empty")

the set is {7, 10, 12, 18, 19}
the set after pop is {10, 12, 18, 19}

18. Check if two sets have no elements in common.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
inter_set=s1.intersection(s2)
if len(inter_set)>0:
  print(f"the sets {s1} and {s2} have common elements {inter_set}")
else:
  print(f"the sets {s1} and {s2} have  no common elements")

the first set is {19, 15, 14, 6}
the second set is {3, 16, 17, 18, 20}
the sets {19, 15, 14, 6} and {3, 16, 17, 18, 20} have  no common elements


19. Find the symmetric difference between two sets.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
differ_set=s1.symmetric_difference(s2)
print(f"symmertic difference of {s1} and {s2} is {differ_set}")

the first set is {16, 17, 18, 12}
the second set is {11, 19, 7, 15}
symmertic difference of {16, 17, 18, 12} and {11, 19, 7, 15} is {7, 11, 12, 15, 16, 17, 18, 19}

20. Update a set with elements from another set.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
s1.update(s2)
print(f"after update the set is  {s1}")

the first set is {8, 2, 3, 20}
the second set is {8, 9, 12, 14}
after update the set is  {2, 3, 8, 9, 12, 14, 20}

21. Create a set of the first 5 prime numbers.

In [ ]:
count=0
num=2
prime_set=set()
while count < 5:
    is_prime = True
    for i in range(2, num//2 + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_set.add(num)
        count += 1
    num += 1
print(f"prime numbers : {prime_set}")

prime numbers : {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
if s1==s2:
  print(f"{s1} and {s2} are identical")
else:
  print(f"{s1} and {s2} are not identical")

the first set is {1, 5, 6, 13, 19}
the second set is {3, 4, 6}
{1, 5, 6, 13, 19} and {3, 4, 6} are not identical

23. Create a frozen set.

In [ ]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the set is {s1}")
frozen_s1=frozenset(s1)
print(f"its frozen set is {frozen_s1}")

the set is {3, 9, 10, 13, 14}
its frozen set is frozenset({3, 9, 10, 13, 14})

24. Check if a set is disjoint with another set.

In [8]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,40) for _ in range(5))
print(f"the second set is {s2}")
if s1.isdisjoint(s2):
  print(f"{s1} and {s2} are disjoint")
else:
  print(f"{s1} and {s2} are not disjoint")

the first set is {17, 13, 14, 7}
the second set is {10, 11, 19, 22, 31}
{17, 13, 14, 7} and {10, 11, 19, 22, 31} are disjoint

25. Create a set of squares of numbers from 1 to 5.

In [9]:
s1={i**2 for i in range(1,6)}
print(f"the set is {s1}")

the set is {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [12]:
import random
s1=set(random.randint(1,20) for _ in range(10))
print(f"the set is {s1}")
s1={i for i in s1 if i%2==0}
print(f"the even set is {s1}")

the set is {1, 3, 5, 11, 12, 15, 16, 18}
the even set is {16, 18, 12}

27. Multiply all elements in a set by 2.

In [14]:
import random
s1=set(random.randint(1,20) for _ in range(10))
print(f"the set is {s1}")
s1={i*2 for i in s1}
print(f"the set after multiplying by to is {s1}")

the set is {1, 2, 6, 9, 12, 14, 15, 16, 17, 18}
the set after multiplying by to is {32, 2, 34, 4, 36, 12, 18, 24, 28, 30}

28. Create a set of random numbers.

In [16]:
import random
s1=set(random.randint(1,20) for _ in range(10))
print(f"the set is {s1}")

the set is {3, 5, 6, 9, 15, 16, 18, 19}

29. Check if a set is empty.

In [22]:
import random
s1=set(random.randint(1,20) for _ in range(random.randint(0,5)))
print(f"the set is {s1}")
if len(s1)==0:
  print("the set is empty")
else:
  print("the set is not empty")

the set is {4}
the set is not empty

30. Create a nested set (hint: use frozenset).

In [23]:
inner_set1 = frozenset({1, 2, 3})
inner_set2 = frozenset({4, 5, 6})
inner_set3 = frozenset({7, 8, 9})

nested_set = frozenset({inner_set1, inner_set2, inner_set3})
print(f"the nested set is {nested_set}")

the nested set is frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})})

31. Remove an element from a set using the discard method.

In [25]:
import random
s1=set(random.randint(1,20) for _ in range(random.randint(0,5)))
print(f"the set is {s1}")
element=int(input("enter an element to remove : "))
s1.discard(element)
print(f"after dicarding {element} the set is {s1}")

the set is {16, 13, 6}
enter an element to remove : 6
after dicarding 6 the set is {16, 13}

32. Compare two sets.

In [26]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
if s1==s2:
  print(f"{s1} and {s2} are identical")
else:
  print(f"{s1} and {s2} are not identical")

the first set is {1, 9, 12, 16, 18}
the second set is {1, 5, 6, 11, 18}
{1, 9, 12, 16, 18} and {1, 5, 6, 11, 18} are not identical

33. Create a set from a string.

In [27]:
string1=input("enter a string : ")
s1={i for i in string1}
print(f"the set is {s1}")

enter a string : Good Morning
the set is {'d', 'M', ' ', 'G', 'i', 'r', 'g', 'o', 'n'}

34. Convert a set of strings to a set of integers.

In [28]:
string1="12345"
s1={i for i in string1}
print(f"the string set is {s1}")
int_s1={int(i) for i in s1}
print(f"the integer set is {int_s1}")

the string set is {'3', '4', '1', '2', '5'}
the integer set is {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [29]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the integer set is {s1}")
str_s1={str(i) for i in s1}
print(f"the string set is {str_s1}")

the integer set is {16, 19, 11, 15}
the string set is {'19', '15', '11', '16'}

36. Create a set from a tuple.

In [31]:
import random
t1=tuple(random.randint(1,20) for _ in range(10))
print(f"the tuple is {t1}")
s1=set(t1)
print(f"the equivalent set is {s1}")

the tuple is (5, 7, 20, 17, 19, 2, 11, 1, 10, 11)
the equivalent set is {1, 2, 5, 7, 10, 11, 17, 19, 20}

37. Convert a set to a tuple.

In [32]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the set is {s1}")
t1=tuple(s1)
print(f"the equivalent tuple is {t1}")

the set is {7, 5, 6, 15}
the equivalent tuple is (7, 5, 6, 15)

38. Find the maximum value in a set.

In [33]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the set is {s1}")
maxi=max(s1)
print(f"maximum = {maxi}")

the set is {1, 5, 7, 12, 20}
maximum = 20

39. Find the minimum value in a set.

In [34]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the set is {s1}")
mini=min(s1)
print(f"minimum = {mini}")

the set is {1, 5, 6, 12, 14}
minimum = 1

40. Create a set from user input.

In [37]:
n=int(input("enter size of tuple : "))
s1=set()
for i in range(n):
  element=int(input(f"enter element-{i+1} : "))
  s1.add(element)
print(f"the set2 is {s1}")

enter size of tuple : 5
enter element-1 : 14
enter element-2 : 56
enter element-3 : 32
enter element-4 : 41
enter element-5 : 69
the set is {32, 69, 41, 14, 56}

41. Check if the intersection of two sets is empty.

In [49]:
import random
s1=set(random.randint(1,20) for _ in range(random.randint(0,5)))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(random.randint(0,5)))
print(f"the second set is {s2}")
inter_set=s1.intersection(s2)
if len(inter_set)==0:
  print("the intersection of two sets is empty")
else:
  print("the intersection of two sets is not empty")

the first set is {11}
the second set is {3, 10, 18, 6}
the intersection of two sets is empty

42. Create a set of the first 5 Fibonacci numbers.

In [61]:
n=5
if n<=0:
    print("no fibonacci number")
else:
    fib=(0,1)
    while len(fib)<5:
      new=fib[-1]+fib[-2]
      fib+=(new,)
print(f"first {n} Fibonacci numbers are : {set(fib)}")

first 5 Fibonacci numbers are : {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [63]:
import random
l1=[random.randint(1,10) for _ in range(10)]
print(f"the list is {l1}")
s1=set(l1)
print(f"after removing duplicates, the set is {s1}")

the list is [6, 8, 3, 1, 8, 1, 4, 5, 9, 10]
after removing duplicates, the set is {1, 3, 4, 5, 6, 8, 9, 10}

44. Check if two sets have the same elements, regardless of their count.

In [64]:
import random
s1=set(random.randint(1,20) for _ in range(random.randint(0,5)))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(random.randint(0,5)))
print(f"the second set is {s2}")
inter_set=s1.intersection(s2)
if s1==s2:
  print("the two sets have the same elements")
else:
  print("the two sets not have the same elements")

the first set is {11, 6}
the second set is {8, 4, 13, 7}
the two sets not have the same elements

45. Create a set of the first `n` powers of 2.

In [65]:
n=int(input("enter value of n : "))
new_set=set(i**2 for i in range(1,n+1))
print(f"the set is {new_set}")

enter value of n : 5
the set is {1, 4, 9, 16, 25}

46. Find the common elements between a set and a list.

In [68]:
import random
l1=[random.randint(1,20) for _ in range(10)]
print(f"the list is {l1}")
s1=set(random.randint(1,20) for _ in range(10))
print(f"the first set is {s1}")
common_elements=s1.intersection(l1)
print(f"common elements are {common_elements}")

the list is [6, 2, 1, 13, 5, 1, 16, 7, 11, 16]
the first set is {1, 2, 4, 5, 9, 10, 11, 14, 16}
common elements are {1, 2, 5, 11, 16}

47. Create a set of the first `n` triangular numbers.

In [69]:
n=int(input("enter value of n : "))
triangular_numbers = set()
total = 0
for i in range(1, n + 1):
    total += i
    triangular_numbers.add(total)
print(f"list of the first {n} triangular numbers : {triangular_numbers}")

enter value of n : 7
list of the first 7 triangular numbers : {1, 3, 6, 10, 15, 21, 28}

48. Check if a set contains another set as a subset.

In [70]:
import random
s1=set(random.randint(1,20) for _ in range(5))
print(f"the first set is {s1}")
s2=set(random.randint(1,20) for _ in range(5))
print(f"the second set is {s2}")
if s1.issubset(s2):
  print(f"{s1} is a subset of {s2}")
else:
  print(f"{s1} is not a subset of {s2}")

the first set is {7, 8, 9, 16, 18}
the second set is {1, 11, 13, 15, 16}
{7, 8, 9, 16, 18} is not a subset of {1, 11, 13, 15, 16}

49. Create a set of alternating 1s and 0s of length `n`.

In [71]:
n=int(input("enter value of n : "))

l1=tuple(1 if i%2==0 else 0 for i in range(n))
print(f"the tuple is {l1}")

enter value of n : 6
the tuple is (1, 0, 1, 0, 1, 0)

50. Merge multiple sets into one.

In [72]:
import random
n=int(input("enter number of sets : "))
s1=set(random.randint(1,20) for _ in range(5))
print(f"the set-1 is {s1}")

for i in range(2,n+1):
  s2=set(random.randint(1,20) for _ in range(5))
  print(f"the set-{i} is {s2}")
  s1=s1.union(s2)
print(f"after meging all sets : {s1}")

enter number of sets : 3
the set-1 is {3, 11, 13, 14, 20}
the set-2 is {5, 7, 8, 12, 20}
the set-3 is {6, 7, 9, 12, 18}
after meging all sets : {3, 5, 6, 7, 8, 9, 11, 12, 13, 14, 18, 20}